# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Pygame cache (opcional)
*.pyc
*.pyo
*.pyd

# Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/
